.homepage-container-padding {
  padding: 70px 90px;
}

#step-1-title, #step-2-title, #step-3-title, #step-4-title, #step-5-title {
  margin-bottom: 5px;
}

#for-people {
  margin-top: 10px;
  line-height: 35px;
}

#donation-info-link{
  text-decoration: underline;
  color: #1e365c;
}

#donation-info-link:hover {
  color: #E9482B;
}
#donation-waived-stamp {
  box-sizing: border-box;
  width: 250px;
  margin-top: 20px;
  margin-left: 70vw;
  transform: rotate(-10deg);
  border: 3px #E9482B;
  border-style: ridge;
  background: transparent;
}

#start-now-btn {
  margin: 10px auto 5px 50px;
  width: 350px;
  height: 85px;
  font-size: 40px;
  border: 1px solid #E9482B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#a-few-words-link {
  background: transparent;
  border: none;
  position: relative;
  margin-left: 475px;
}

#a-few-words-link:hover {
  text-decoration: underline;
  color:#E9482B;
}

#resources-btn {
  margin-top: 20px;
  width: 280px;
  height: 70px;
  font-size: 30px;
  border: 1px solid #E9482B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#links-in-a-few-words {
  line-height: 32px;
}

#single-communities-form {
  display: inline-block;
  text-align: center;
}

#single-communities-input {
  width: 300px;
  height: 40px;
  background: linear-gradient(0deg, #FFFBFB, #FFFBFB), #FFFBFB;
  border: 1px solid #FFFBFB;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  font-size: 20px;
}

#single-communities-input:focus {
  outline: #fad4cd;
}

#single-communities-form-submit-btn {
  width: 110px;
  height: 34px;
  background: linear-gradient(0deg, #fad4cd, #fad4cd), #fad4cd;
  border: none;
  box-sizing: border-box;
  margin-top: 15px;
  letter-spacing: 2px;
}

#alert-div {
  background-color:transparent;
  box-sizing: border-box;
  width: 300px;
  font-size: 20px;
}

#send-us-an-email-btn {
  width: 320px;
  height: 63px;
  background: linear-gradient(0deg, #FFFBFB, #FFFBFB), #FFFBFB;
  border: 1px solid #FFFBFB;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  margin: 30px auto;
}