.homepage-container-padding {
  padding: 70px 90px;
}

#what-is-matches-up-title {
  margin-bottom: 50px;
  font-size: 60px;
}

#step-1-title, #step-2-title, #step-3-title, #step-4-title, #step-5-title, #a-few-words-title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 60px;
}

#for-people {
  margin-top: 10px;
  line-height: 35px;
}

#donation-info-link{
  text-decoration: underline;
  color: #1e365c;
}

#donation-info-link:hover {
  color: #E9482B;
}
#donation-waived-stamp {
  box-sizing: border-box;
  width: 380px;
  margin-top: -5vh;
  margin-left: 60vw;
  transform: rotate(-8deg);
  border: 8px #E9482B;
  border-style: double;
  box-shadow: 0 0 0 1px #E9482B, 0 0 0 1px #E9482B inset;
  opacity: 0.6;
  letter-spacing: 4px;
  z-index: 4;
}

#create-acc-and-start-now-div {
  display: flex;
}

#start-now-and-few-words-div {
  margin-top: -20px;
  margin-left: 20px;
  text-align: center;
}

#start-now-btn {
  width: 350px;
  height: 85px;
  font-size: 40px;
  border: 1px solid #E9482B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#a-few-words-link:hover {
  text-decoration: underline;
  color:#E9482B;
}

#resources {
  box-sizing: border-box;
  width: 900px;
  margin: auto;
}

#resources-btn {
  margin-top: 20px;
  width: 280px;
  height: 70px;
  font-size: 30px;
  border: 1px solid #E9482B;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#links-in-a-few-words {
  line-height: 50px;
}

#single-communities-form {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

#single-communities-input {
  width: 300px;
  height: 55px;
  background: linear-gradient(0deg, #FFFBFB, #FFFBFB), #FFFBFB;
  border: 1px solid #FFFBFB;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
}

#single-communities-input:focus {
  outline: #fad4cd;
}

#single-communities-form-submit-btn {
  width: 200px;
  height: 55px;
  background-color: rgb(30, 54, 92);
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  letter-spacing: 2px;
  line-height: 55px;
  margin-left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

#single-communities-form-submit-btn:hover {
  background-color: #E9482B;
  color: #1e365c;
}

#alert-div {
  background-color:transparent;
  box-sizing: border-box;
  width: 300px;
  font-size: 20px;
}

#send-us-an-email-btn {
  width: 320px;
  height: 63px;
  background: linear-gradient(0deg, #FFFBFB, #FFFBFB), #FFFBFB;
  border: 1px solid #FFFBFB;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  margin: 30px auto;
}

#send-us-an-email-btn:focus {
  background-color: #E9482B;
}