.login-container {
  display: block;
  background-color: #1e365c;
  color: #e9482b;
  width: 50vw;
  height: 100vh;
}

.login-title {
  display: block;
  margin: 10vh auto 25vh;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

form {
  margin: 0 auto;
  text-align: center;
}

.login-input-fields {
  box-sizing: border-box;
  display: flex;
  width: 45vw;
  margin-top: 8vh;
  align-items: center;
}

label {
  text-align: right;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  font-size: 30px;
  padding-right: 5%;
  display: block;
  box-sizing: border-box;
  width: 22vw;
}

input {
  background: linear-gradient(0deg, #FFFBFB, #FFFBFB), #FFFBFB;
  border: 1px solid #FFFBFB;
  display: block;
  box-sizing: border-box;
  width: 230px;
  height: 50px;
  font-size: large;
  margin: 0;
}

.forgot-password {
  position: fixed;
  font-weight: 300;
  margin: 10px 0 0 22vw;
}