body {
  font-family: Josefin Sans;
}

.light {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.bg-blue {
  background-color: #1e365c;
}

.bg-beach {
  background-color: #fad4cd;
}

.color-blue {
  color: #1e365c;
}

.color-red {
  color: #e9482b;
}

.color-grey {
  color: #cccccc;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.Essays1743 {
  font-family: Essays1743;
}

.Essays1743-bold {
  font-family: Essays1743 Bold;
}

.Essays1743-italic {
  font-family: Essays1743 Italic;
}

.Essays1743-bold-italic {
  font-family: Essays1743 Bold Italic;
}